{% extends 'home/base.html' %}

{% block content %}


<div class="container">
    <div class="row text-start">
        <div class="col-12">
            <div class="card-header">
                <p class="card-text">Время рассылки: {{ object.mailing_time }}</p>
            </div>
            <div class="card-body">
                <p class="card-text">Переодичность: {{ object.periodicity }}</p>
                <p class="card-text">Статус: {{ object.status }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'mailing:settings_detail' object.pk %}" type="button" class="btn btn-success">Редактировать</a>
                <a href="{% url 'mailing:settings' %}" type="button" class="btn btn-warning">Назад</a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}