{% extends 'home/base.html' %}

{% block content %}


<div class="container">
    <div class="row text-start">
        <div class="col-12">
            <div class="card-header">
                <p class="card-text">Тема: {{ object.heading }}</p>
            </div>
            <div class="card-body">
                <p class="card-text">Текст письма: {{ object.body }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'mailing:message_detail' object.pk %}" type="button" class="btn btn-success">Редактировать</a>
                <a href="{% url 'mailing:messages' %}" type="button" class="btn btn-warning">Назад</a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}