{% extends 'home/base.html' %}

{% load my_tags %}

{% block content %}

{% if user.role == 'content_manager' or user.is_superuser %}
<div class="col-12 mb-5">
    <a class="btn btn-primary" href="{% url 'blog:create_blog' %}">Создать новый блог</a>
</div>
{% endif %}

<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ object.preview|mediapath }}"
                 alt="Card image cap">
            <div class="card-body">
                <p class="card-text"><b>{{ object.title }}</b></p>
                <p class="card-text">{{ object.content|truncatechars:150 }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'blog:blog_detail' object.pk %}" type="button" class="btn btn-success">Просмотр</a>
                {% if user.role == 'content_manager' or user.is_superuser %}
                <a href="{% url 'blog:blog_update' object.pk %}" type="button" class="btn btn-warning">Изменить</a>
                <a href="{% url 'blog:blog_delete' object.pk %}" type="button" class="btn btn-danger">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
